@import url(https://fonts.googleapis.com/css?family=Alegreya);

@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

* {
    font-family: "Source Serif Pro", serif;
	margin: 0;
}

body {
	height: 100%;
}

header {
	background-color: #000;
	width: auto;
	padding: 5px;
}

footer {
	background-color: #000;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	padding: 15px;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

#leftcolumn {
	background:#36393f;
	float: left;
	flex: 75%;
	height: auto;
	padding: 5px;
	overflow-x: hidden;
}

#rightcolumn {
	background-color: #191919 ;
	float: left;
	flex: 25%;
	height: 750px;
	padding: 5px;
	overflow-x: hidden;
}

.article {
	margin: 25px auto 25px auto;
	overflow: auto;
    max-height: 695px;
    color: #f4f4f4;
}

.articleSections {
	margin: auto 35px 20px 35px;    
	text-align: justify;
}

#blogTitle {
	font-family: "Alegreya";
	font-size: 30px;
	text-align: center;
	letter-spacing: 4px;
	color: #FFF;
	text-transform: uppercase;
}

h1 {
	text-align: center;
}

/*=========================== Right side of Page ================================*/

h4 {
	text-align: center;
	text-transform: uppercase;
	margin: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #FAFAFA;
}

.rightHR {
	border-bottom: 1px solid #FAFAFA;
	margin: 15px auto 15px auto;
	width: 50%;
}

form {
	display: flex;
	flex-direction: column;
    width: 75%;
    height: auto;
    padding: 15px;
	margin: auto;
}

textarea {
	width: auto;
	height: 100px;
	padding: 13px;
    border: 0px solid #FFF;
	border-radius: 4px;
    box-sizing: border-box;
	font-size: 15px;
	font-family: "Source Serif Pro", serif;
}

input {
	width: auto;
	margin-top: 11px;
 	border: 0px solid #FFF;
	border-radius: 4px;
	padding: 6px 13px;
	font-family: "Source Serif Pro", serif;
	font-size: 15px;;
}

.commentBtn {
	margin: 20px;
	padding: auto 25px;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	background-color: skyblue;
	color: #000;
}

.commentBtn:hover {
	background-color: #9E9E9E;
	color: #000;
}

.comments {
	width: auto;
	height: auto;
	position: relative;
	top: 0;
	left: auto;
	padding: 30px auto auto auto;
	margin: 20px auto;
	font-size: 16px;
}

ul {
	list-style: none;
	left: 30px;
	margin-top: 30px;
	overflow: auto;
	max-height: 355px;
}

li {
  margin: 6px 10px auto 10px;
	color: #FFCCBC;
  width: 85%;
  padding: 10px;
}

li commentText {
	text-align: left;
}

li #commentAuthor {
	text-align: right;
	margin-top: 3px;
	color: #EF9A9A;
}

@media only screen and (max-width: 1000px) {
	.flex-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.article {
		overflow: initial;
		max-height: none;
	}
	ul {
		overflow: initial;
		max-height: none;
	}
}