
body{
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

/* This is the style for the Articles-latest cover */
.latest
{

  height: 350px;
  width: 100%;
  position: relative;
  background-image: url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 7px 8px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 7px 8px -5px rgba(0,0,0,0.75);
  box-shadow: 2px 7px 8px -5px rgba(0,0,0,0.75);
}
.latest:before
{
  content:"";
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:linear-gradient(to bottom right, #F5A9A9, #0B3B39);
  opacity: 0.4;
}
.latest a
{
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  text-decoration: none;
}
.latest h1
{
  color:  #FBF8EF;
  font-family: 'Lato';
  font-size: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 350px;
}
#articles .latest h2
{
  color: white;
  font-style: italic;
  font-family: Lato;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-top: -180px;
}
/*This is the style for the read more section*/
#articles
{
  text-align: center;
}
.readmore
{
font-size: 30px;
position: relative;
top: 30px;
font-family: Lato;
color: #A4A4A4;
font-style: italic;
}
hr
{
width: 600px;
position: relative;
top: 40px;
}
/*This is the style for the article grid*/
.grid
{
  width: 100%;
  height: 765px;
  position: relative;
  top: 15px;
  text-align: center;

}
/*This is the style for the article buttons*/
.grid div
{
  position: relative;
  border: 1px solid #D8D8D8;
  height: 380px;
  width: 280px;
  background-color: white;
  display: inline-block;
  margin: 50px 10px 0px 10px;
}
.grid div .divlink
{
  position:relative;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  text-decoration: none;
  z-index: 1;
}

.grid .divlink:hover
{
  -webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);

}
/*This is the style for big article*/
.grid .big
{
  width: 590px;
  height: 380px;
}
/*This is the style for the article grid content - images ,text and authors badge*/
/*Images*/
.grid div img
{
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
}
/*Text*/
.grid div h1
{
  font-size: 20px;
  font-family: Lato;
  color: #585858;
  position: absolute;
  top: 190px;
  left: 10px;
}
.grid div h2
{
  font-size: 15px;
  font-family: Lato;
  color: #A4A4A4;
  position: absolute;
  top: 220px;
  left: 15px;
}
.grid div p
{
  font-size: 14px;
  color: #424242;
  position: absolute;
  left: 10px;
  right: 10px;
  font-family: Lato;
  font-weight: bold;
  top: 240px;
  text-align: left;
  
}
.footer-bottom
{
    margin-top: 150px;
    padding: 10px;  
    text-align: center;
    color: #999999;
    background: #292b2f;
}
i
{
    color: darkred;
}
@media screen and (max-width: 580px)
{
    hr 
    {
      display: none;
    }
    footer 
    {
       margin-top: 2750px;
    }

}



