@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color:rgba(255, 255, 255, 1);
}
html {
  scroll-behavior: smooth;
  margin: 0;
}
/*==================================== Showcase & sidebar ====================================*/
.navigation
{
  font-family: 'Proza Libre', arial, helvetica;
}
#showcase 
{
    margin: 0;
    padding: 0;
    background: url('../images/Banner-3.jpg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    z-index: 0;
    position: relative;
    overflow-y: hidden;
}
 #showcase::after {
  pointer-events: none;
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	 background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 20px 10px 25px #36393f, inset -12px -10px 25px #36393f;
} 

body {
    font-family: "PT Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
.sidebar 
{
  opacity: 0.6;
   position: fixed;
   height: 100%;
   width: 30px;
   background-color: #36393f;
   overflow: hidden;
   transition: 0.8s;
   box-shadow: 5px 5px 10px rgb(141,141,141);
}
.sidebar:hover
{
   width: 140px;
}
.sidebar:hover .menu ul li span
{
   opacity: 1;
   pointer-events: visible;
}
.sidebar .menu
{
   display: flex;
   width: 30px;
   height: 100%;
   background-color: #36393f;
   color: #f2f2f2;
}
.menu a i
{
   margin-left: 5px;
   margin-top: 100px;
   font-weight: bolder;
}
.menu a span
{
   position: absolute;
   margin-top: 100px;
   margin-left: 20px;
   opacity: 0;
   font-size: 15px; 
   transition: 1.2s;
   color: white;
}
.menu ul li
{
  display: flex;
  cursor: pointer;
}
.menu ul li:hover span
{
   margin-left: 30px;
   color: white;
}
/* big heading */
.showcase-content
{
    margin-top: 40vh;
    color: #eee;
    text-align: center;
}
h1
{
    font-size: 100px;
    z-index: 1;
}
i
{
    color: #f4f4f4;
    font-family: sans-serif;
}
i:hover
{
    color: skyblue;
}
.scrolldown
{
    margin-top: 120px;
    animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
    z-index: 0;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}
@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
.scrolldown:hover
{
    color: skyblue;
}
.social-media
{
    margin-top: 30px;
    word-spacing: 60px;
    font-size: 40px;
    z-index: 1;
}

/*==================================== About ====================================*/

.info
{
    background:#36393f;
}
.card-1
{
   position: relative;
   width: 200px;
   height: 200px;
   text-align: center;
   overflow: hidden;
   background: url(../images/profile-pic.png) no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 20px;
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.card-1 .surface
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: black;
  transition: .2s linear;
}
.card-1 h1
{
  letter-spacing: 1px;
  font-size: 20px;
  color: #f1f1f1;
  opacity: 0;
  transform: translateX(30px) translateY(280px);
  transition: .4s;
}
.card-1 h3
{
   letter-spacing: 1px;
  font-size: 14px;
  color: #f1f1f1;
  opacity: 0;
  transform: translateX(28px) translateY(270px);
  transition: .4s;
}
.card-1 .fab 
{
   cursor: pointer;
   display: flex;
   width: 30px;
   height: 30px;
   padding: 7px 8px;
   font-size: 16px;
   color: skyblue;
   background: #ffffff;
   border-radius: 50%;
   margin: 10px;
   opacity: 0;
   transform: traslateX(-50px) translateY(135px);
   transition: 0.3s;
}

.card-1:hover .surface
{
   opacity: 0.8;
   height: 60%;
}
.card-1:hover h1
{
   opacity: 1;
   transform: translateX(25px) translateY(115px);
   transition-delay: 0.5s;
}
.card-1:hover h3
{
   opacity: 1;
   transform: translateX(24px) translateY(125px);
   transition-delay: 0.5s;
}
.card-1:hover .fab
{
   opacity: 1;
   transform: translateX(5px) translateY(35px);
   transition-delay: 0.5s;
}
.card-1 .fa-instagram
{
   transition-delay: .2s;
}
.card-1 .fa-linkedin-in
{
  transition-delay: .4s;
}
.card-1 .fa-github
{
  transition-delay: .6s;
}
.info-list ul
{
    list-style-type: none;
}
.graduation
{
    font-size: 3rem;
    color: skyblue;
}
.another-font
{
    padding-bottom: 10px;
    border-bottom: 5px solid skyblue;
}
.another
{
    line-height: 2.7;
    border-bottom: 0.5px solid skyblue;
}

.border-bottom
{
    border-bottom: 0.5px solid skyblue;
}
.date
{
    color: skyblue;
    font-size: 13px;
    display: inline-block;   
     /* margin-top: 10px; */
    margin: 30px 0px 11px 0px;
    padding: 0px 5px;
    border: 1px solid skyblue;
}
.place
{
    margin: 5px 0 11px 0;
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    text-transform: none;
}
.description-2
{
    color: #999999;
    font-size: 16px;
    margin-left: -17px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
em{
    color:#999999;
}

/*==================================== Projects ====================================*/
.projects
{
  background:#36393f;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* height: 100vh; */
  width: 100%;
}
  /* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #ff62b2; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #2aaac1; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #fa7f67; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #00b97c; }

/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Buttons */

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.3rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
  text-align:center;
}

 .inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
} 

.inside-page__btn--city { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before { 
  background-color: #ff40a1;
}

.inside-page__btn--ski { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--ski::before { 
  background-color: #279eb2;
}

.inside-page__btn--beach { 
  border-color: #fa7f67;
  color: #fa7f67;
}

.inside-page__btn--beach::before { 
  background-color: #fa7f67;
}

.inside-page__btn--camping { 
  border-color: #00b97d;
  color: #00b97d;
}

.inside-page__btn--camping::before { 
  background-color: #00b97d;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}


/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  padding: 4rem;
}

/* Card */

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,1);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  /* backface-visibility: hidden; */
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

/*==================================== Contact ====================================*/
.cont
{
    background:#4f545c;
}
.color 
{
    color: #333;
}
.row 
{
    padding-top: 50px;
}
.form-box
{
   margin-left: -22px;
   margin-top: 20px;
}
.input-group input
{
    width: 45%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    display: inline-block;
    background: #292b2f;
}
.text-area textarea
{
    width: 95%;
    border: 0px;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    background: #292b2f;    
} 
.submit-btn
{
    width: 20%;
    border: 0px;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    background: #292b2f;
    text-align: center;
    display: inline-block;
    cursor: pointer;  

    color: #555555;
    background: lightskyblue;
    border: 1px solid skyblue;
    box-shadow: 0px 2px 0 skyblue, 2px 4px 6px lightskyblue;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}
.submit-btn:hover
{
    background: skyblue;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #111111;
    text-decoration: none;
    text-shadow: -1px -1px 0 skyblue;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}
.submit-btn:active
{
    background: red;
}

/*==================================== Footer ====================================*/
.container
{
    background:#292b2f;
}
 .first-line
{
    padding-top: 15px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.second-line
{
    padding-top: 15px;
    display: grid;
    grid-gap: -50px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.footer-bottom
{
    padding-top: 15px;  
    text-align: center;
    background: #292b2f;
}
.heart
{
    color: darkred;
}
/*utility classes*/
.pad
{
    padding-top: 40px;
    padding-bottom: 40px; 
}
.mar
{
    padding: 50px 150px;
}
.makegrid
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.makegrid-3
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.size
{
    font-size: 2.5rem;
    color: rgba(135,200,255);
}
a
{
    text-decoration: none;
}
/* .center
{
    text-align: center;
    align-items: center;
    justify-content: center;
} */
@media screen and (max-width: 580px) {
    /* showcase and navigation */
    .sidebar 
    {
      /* margin-left: -30px; */
      box-shadow: none;
      width: 25px;
    }
    .menu a span
    {
      display: none;
    }
    .sidebar:hover
    {
       width: 25px;
    }
    #showcase
    {
        height: 45vh;
    }
    .showcase-content
    {
     margin-top: 10vh;
     color: #eee;
     text-align: center;
    }
    /* about */
    .makegrid-3
    {
       grid-template-columns: 1fr;
       text-align: left;
       grid-gap: 0px;
    }
    .card-1
    {
        margin-left: 67px;
    }
    .card-1 .surface
    {
      display: none;
    }
    .card-1 h1
    {
      display: none;
    }
    .card-1 h3
    {
      display: none;
    }
    .card-1 .fab
    {
      display: none;
    }
    .makegrid
    {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    h1 
    {
        font-size: 50px;
    }
    .scrolldown
    {
        display: none;
    }
    .social-media
    {
        font-size: 20px;
    }
    .size
    {
        font-size: 2rem;
        padding-top: 20px;
    }
    .mar
    {
        padding: 20px 15px;
        text-align: center;
    }
    .pad
    {
        padding-top: 10px;
    }
    .description-2
    {
        margin-left: 0;
    }
    .border-bottom
    {
        display: none;
    }
    /*projects*/
    .card
    {
       height: 10rem;
       width: 10rem;
    }
    .flip-card
    {
       height: 10rem;
       width: 10rem;
    }
    .card-front
    {
       height: 10rem;
       width: 10rem;
    }
    .inside-page
    {
       width: 10rem;
    }
    .card:hover
    {
       width: 20rem;
    }
    .card-area
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .card-section
    {
      padding-top: 20px;
      padding-bottom: 70px;
      margin-left: 2px;
    }
    .card-front
    {
      width: 10rem;
      height: 10rem;
    }
    .inside-page__btn
    {
        font-size: 0.8rem;
        font-weight: 600;
        display: inline-block;
    }
    
    /*contact*/
    .form-box
    {
        margin-left: 8px;
    }
    
    .submit-btn
    {
        font-family: sans-serif;
        font-size: 10px;
        width: 40%;
    }
    /*footer*/
    .second-line
    {
        grid-template-columns: 1fr;
        font-size: 10px;
        line-height: 2.7;
    }
}

   
