<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankit's Blog</title>
    <link rel="icon" href="images/logo.png" type="image/icon type">
    <link rel="stylesheet" href="./css/blog.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="blogApp">
    <header>
        <h1 id="blogTitle">Blog<h1>
    </header>
    
    <div class="flex-container">
    
        <!-- LEFT SIDE -->
        <div class="column" id="leftcolumn" ng-controller="BlogController">
    
            <!-- MOCK POST -->
            <div class="article">
                <h1 class="articleSections">{{ post.title }}</h1>
                <h3 class="articleSections"><cite>{{ post.author }} 
                        </cite></h3>
                <p class="articleSections" ng-repeat="paragraph in post.body">{{ paragraph }}</p>
            </div>
    
        </div> <!-- CLOSING LEFT SIDE -->
    
        <!-- RIGHT SIDE -->
        <div class="column" id="rightcolumn" ng-controller="CommentController">
    
            <div class="rightHeader">
                <h4><small>Comments</small></h4>
                <hr class="rightHR">
            </div>
    
            <!-- COMMENT FORM -->
    
            <form novalidate class="commentForm" name="commentForm" ng-submit="commentForm.$valid && addComment()">
    
                <textarea ng-model="comment.text" class="textarea" placeholder="Write a response" maxlength="140"
                    required></textarea>
    
                <input ng-model="comment.author" class="input" placeholder="Name" maxlength="30" required>
    
                <input class="commentBtn" type="submit" value="Add Comment" required>
    
            </form>
    
            <hr class="rightHR">
    
            <!-- COMMENTS SECTION -->
            <div class="comments">
                <ul>
                    <li ng-repeat="comment in comments">
                        <p id="commentText">{{ comment.text }}</p>
                        <p id="commentAuthor"><cite>{{ comment.author }}</cite> — {{ comment.date | date:'MMM d, y' }}</p>
                    </li>
                </ul>
            </div>
    
        </div> <!-- CLOSING RIGHT COLUMN -->
    
    </div> <!-- CLOSING BODY DIV -->
    
    <!-- FOOTER -->
    <footer ng-controller="FooterController">
        <p><small>© {{ date | date:'yyyy' }} — Blog Website, LLC</small></p>
    </footer>
    <script src="js/blog.js"></script>
</body>
</html>